<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="MainStyles.css">
    <title>Chapp</title>
</head>
<body class="page">
<div class="header">
    <h1>Welcome to Chapp</h1>
</div>
<div class="pagecontents">
    <table align="center">
        <tr>
            <th>
            <form action="login">
                <input type="submit" value="Login" class="buttonaccent buttonhoveringaccent"><br>
            </form>
            </th>
            <th>
            <form action="register">
                <input type="submit" value="Register" class="buttonaccent buttonhoveringaccent"><br>
            </form>
            </th>
        </tr>
    </table>
</div>
</body>
</html>