<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="MainStyles.css">
    <title>CHAPP</title>
</head>
<body class="page">
<div class="header">
    <h1>Welcome to Chapp</h1>
</div>
<form action="login">
    <input type="submit" value="Login" class="buttonaccent buttonhoveringaccent"><br>
</form>
</body>
</html>