<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="MainStyles.css">
    <title>Chapp - Login</title>
</head>
<body class = "page">
    <div class = "header">
        <h1>Chapp</h1>
    </div>
    <div class = "pagecontents">
        <form action = "addLogin">
            <input type="text" name="name" class="editboxaccent"><br>
            <input type="submit" value="Login" class="buttonaccent buttonhoveringaccent"><br>
        </form>
    </div>
</body>
</html>